/* navbar */
.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:active {
  color: #2f58cd;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("https://freight.cargo.site/w/7000/q/75/i/d03c1acda9901cc1293c8033b3d13cbc48e240a98b20a8295dc0c56d379b1010/P15_208_BG_Ext_Hotel_Room_Balcony_Outside_View_COOL_Color_v01.png");
  background-size: cover;
  position: relative;
}
/* text css above hero image*/
.hero_title {
  text-align: center;
  font-size: 3.5rem;
  font-family: "Times New Roman", Times, serif;
}
.hero_desc {
  text-align: center;
  font-size: 1.8rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(56, 52, 52);
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}
/*skils*/
.skills-section {
  background-color: #ffffff;
}
.skills-section .progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: gray;
}
.skills-section .progress-bar .progress {
  background-color: rgb(94, 94, 203);
}
.header-section .header-img,
.skills-section .skills-img {
  width: 100%;
}

/*servis section css*/
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #2e57ca;
}
.servicesText:hover {
  border: 1px solid #2e57ca;
}
/* display background color black on navbar scroll */
.navbarrScroll.navbarDark {
  background-color: black;
}
/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,
.fa-twitter:hover {
  color: #2b4f91;
}
.fa-instagram:hover,
.fa-twitch:hover {
  color: #521978;
}
.fa-whatsapp:hover {
  color: #0d7b25;
}

.fab {
  color: #272323;
}
/* footer styling */
#footer {
  background-color: #868686;
  text-align: center;
}
tyling:

/* spacing on all sections */ #about, #services, #skills, #project,
  #contact {
  margin-top: 4rem;
  padding-top: 3rem;
}
#contact {
  padding-bottom: 4rem;
}
